# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# Keep same platform version
Django<=3.2.12
pylint==2.12.2
testfixtures==6.18.4
coverage[toml]==6.0.2
mako==1.1.5
mock==4.0.3
path-py==12.5.0
pycodestyle==2.8.0
pytz==2021.3

# Version used in Maple version of edx-platform
edx-opaque-keys==2.3.0
